@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/fontawesome/less/font-awesome.less";

@import "components/header/header_one.less";
@import "components/features/features_one.less";
@import "components/testimonials/testimonials_one.less";
@import "components/footer/footer_one.less";

html {
  height: 100%;
}
body {
  font-size: 16px;
  height: 100%;
}
ol, ul {
  list-style: none;
  margin:0;
  padding: 0;
}