style
    |.services { padding: 100px 0; }

section.container.services
    .row
        .col-md-3
        .col-md-6
            .headline.withH2
                h2
                    | Overview
            p Since 2003, TriCounties Speech Services, Inc. has been a leader in early-intervention services and speech therapy for the South Santa Clara, San Benito, and Monterey Counties.

            p Our therapy services include:

            ul
                li Early Intervention Services Therapy for children 3 and under at risk for developmental delays, including home-based sessions, intended to help them reach their unique developmental milestones.
                li Speech-Language Therapy Helping your child learn to use & understand language, using a wide range of tools and interventions (toys, play-like therapy, formal testing, speech curricula, etc.).

            .headline.withH2
                h2
                    | Regional Centers
        .col-md-3