section.testimonials
    .container.wow.fadeIn
        .row
            .col-lg-10.col-lg-offset-1
                .headline.text-center.withH2
                    h1
                        | WHAT PEOPLE ARE SAYING
                .owl-carousel
                    div
                        p.lead
                            | &quot;TriCounty provides excellent speech and language services&quot;
                        hr.colored
                        p.quote
                            | I highly recommend contacting them if you have any questions regarding your
                            | child&#39;s speech/language development!

                        .testimonial-info
                            .testimonial-img
                                | &nbsp;
                            .testimonial-author
                                span.name
                                    | - Erica Solis #1
                    div
                        p.lead
                            | &quot;Absolutely amazing service!&quot;
                        hr.colored
                        p.quote
                            | Lorena and her staff go above and beyond what is expected. Lorena always
                            | made our family feel welcome.

                        .testimonial-info
                            .testimonial-img
                                | &nbsp;
                            .testimonial-author
                                span.name
                                    | - Alisha Smith Zamora
                    div
                        p.lead
                            | &quot;Our family was lucky to have been able to work with Dee.&quot;
                        hr.colored
                        p.quote
                            | It has been a wonderful experience having Dee work with our 2 year old son in our home.
                            | She is always full of great information that educated me on how to better help my son
                            | move forward with his speech. She is not only full of knowledge but also great ideas for
                            | educational activities that are so fun for my son. My son always looks forward to Dee
                            | coming to our home because he has so much fun with her. Since she has started working
                            | with my son he has come such a long way. He has gone from only speaking a handful of
                            | words to now speaking around 30 words.

                        .testimonial-info
                            .testimonial-img
                                | &nbsp;
                            .testimonial-author
                                span.name
                                    | - Stephanie Calderon