section.heading(style="padding: 100px 0")
    .container
        .col-md-7
            blockquote
                |As therapists we share your concern and uncertainty that you may feel as a result of your child’s
                |delay or condition . We look forward to assisting.
            ul.pull-right
                li Lorena Hurtado Scalmanini, MA, CCC-BSLP
                li Jovita Barron Reyes, MA, CCC-BSLP
                li Sara Barron, BA, Early Interventionist

        .col-md-5
            .row
                .col-md-10.col-md-offset-1
                    img.img-responsive.img-rounded(src="/assets/img/team-Founders.jpg")