section.container.features
    .row.text-center
        .col-md-4
            img.img-circle.img-responsive( src="/assets/img/children-learning-languages.jpg")
            h2
                |WHO WE ARE
            p
                |We are a team of speech &amp; early intervention therapists dedicated to providing the highest
                |quality and most effective intervention available for each child.
            p
                a.btn.btn-default( href="/about-us" role="button")
                    |READ MORE &raquo;
        .col-md-4
            img.img-circle.img-responsive( src="/assets/img/what-we-do.jpg")
            h2
                | WHAT WE DO
            p
                | We work with families &amp; enrichment programs to ensure that children are meeting developmental
                | milestones.
            p
                a.btn.btn-default( href="/our-services" role="button")
                    | READ MORE &raquo;
        .col-md-4
            img.img-circle.img-responsive( src="/assets/img/what-to-expect.jpg")
            h2
                | OUR VALUES
            p
                | You can expect a fun atmosphere in our custom built clinic where children love to learn and
                | don&#39;t want to leave!
            p
                a.btn.btn-default( href="/our-services" role="button")
                    | READ MORE &raquo;