style
    | .featurette { overflow: hidden; }
    | .featurette-divider { margin: 40px 0; border-color: #428CC0; max-width: 100%; }
    | .heading h2 { text-transform: inherit; }
    | .featurette-image { max-width: 500px; border-radius: 50px; }
    | .featurette-image.pull-right { margin-left: 40px; margin-bottom: 10px }
    | .featurette-image.pull-left { margin-right: 40px; margin-bottom: 10px }

section.heading(style="padding: 100px 0")
    .container

        <!-- First Featurette -->
        .featurette.wow.fadeIn( data-wow-delay=".2s")
            img.featurette-image.img-responsive.pull-right( src="http://www.entwellbeing.com.au/wp-content/uploads/2014/11/speech-therapy-articulation-vs-phonology-therapy.jpg")
            h1.featurette-heading
                |   Articulation:
                span.text-muted
                    |   To put into words an idea or feeling of a specific type

            p
                | Speech language pathologists frame articulation goals in terms of
                | the child’s ability to learn. Literacy, math and writing skills may all fall in this area
                | depending upon the extent to which articulation problems interfere with successful participation in
                | learning activities, as well as whether or not the child communicates in such a way that the adults in
                | the child’s life (i.e. teachers, child care providers, therapists) can accurately assess whether the child
                | is learning and using age-expected preschool skills.

        hr.featurette-divider

        <!-- Second Featurette -->
        .featurette.wow.fadeIn( data-wow-delay=".2s")
            img.featurette-image.img-responsive.pull-left( src="http://readingeggs.files.wordpress.com/2013/11/istock_000000668682small2.jpg?w=739&h=489")
            h1.featurette-heading
                |   Fine &amp; Gross Motor:
                span.text-muted
                    |   Finger and hand skills such as writing

            p
                |   The ability to use large and small muscle groups that coordinate body movements involved in activities
                |   such as walking, running, jumping, throwing, writing, maintaining balance, buttoning, cutting, visual tracking, and tracing.

        hr.featurette-divider

        <!-- Third Featurette -->
        .featurette.wow.fadeIn( data-wow-delay=".2s")
            img.featurette-image.img-circle.img-responsive.pull-right( src="https://absinutahdotcom.files.wordpress.com/2015/06/toddler-brushing.jpg" )
            h1.featurette-heading
                |   Self Care:
                span.text-muted
                    |   Emotional hygiene

            p
                |   We address children’s ability to get dressed, toilet/bathe themselves, perform daily hygiene such
                |   as brushing teeth/combing hair, etc. We also address the skill sets and situations in which children
                |   perform entire routines; from getting ready for bed/ready in the morning to tolerating different
                |   transitions between play and work. We help children with their occupations and skills to eventually
                |   start helping to take care of them selves such as making a simple snack/meal to doing
                |   chores/homework successfully and efficiently.

