section.about(style="background-image: url('/assets/img/about-banner.jpg')")
    .col-xs-12
        .container
            p
                |Here at TriCounties Speech Services, Inc., we love what we do. We love working with children, adults,
                |families, and helping everyone reach their full potential. We are dedicated to treat each client and
                |family with the most up-to-date research-based treatment available. Each therapist at TriCounties Speech
                |Services, Inc. has a passion for speech therapy, Early Intervention, and understands the value of
                |communication in each persons life.