footer.footer
    .wrap
        .container
            .row
                .col-md-5.col-sm-12.col-xs-12
                    .headline.withH2
                        h2
                            |TriCounties Speech Services, Inc.
                    a.hidden( href="index.html")
                        img.footer-logo( id="logo-footer" src="" style="margin:17px 0 20px")
                    p
                        |To provide speech and language services, along with community awareness on speech and
                        |early-intervention issues for english and spanish speaking individuals.
                    p.text-center
                        a( href="http://www.facebook.com/TriCountiesSpeechServicesInc" target="_blank")
                            |facebook.com/TriCountiesSpeechServicesInc
                .col-md-3.col-md-offset-1.col-sm-6.col-sml-6.col-xs-12
                    .headline.withH2
                        h2
                            |Useful Links
                    ul.list-unstyled.link-list
                        li
                            a( href="/")
                                |Home
                        li
                            a( href="/about-us")
                                |About Us
                        li
                            a( href="/our-services")
                                |Services
                        // ETC ...
                .col-md-3.col-sm-6.col-sml-6.col-xs-12.map-bg
                    .headline.withH2
                        h2
                            |Contact Us
                    address.md-margin-bottom-40
                        |591 McCray Street,
                        br
                        |Suite 201
                        br
                        |Hollister, CA 95023
                        br
                        br
                        |Phone: 831.630.9044
                        br
                        |Fax: 831.638.0124
                        br
                        |Email:
                        a( href="mailto:tricountyspeech@sbcglobal.net")
                            |   tricountyspeech@sbcglobal.net
    .copyright( style="padding: 10px 0 5px; background:#222222;")
        .container
            .row
                .col-md-12.text-center
                    p
                        |Copyright © 2008-2015 All Rights Reserved.