doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
    head
        meta(charset="utf-8")
        title(itemprop="name")
            |Marketing Site
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")

        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="apple-touch-icon" href="/assets/img/icon.png")

        link(href="/assets/css/application.css" rel="stylesheet" type="text/css")
    body
        include ../components/navigation/navigation_one
        div(style="background:#222; height: 51px; position: fixed; top: 0px; width: 100%;z-index:999;")

        include ../components/contact/map

        include ../components/contact/contact

        include ../components/footer/footer_one

    script(src="/assets/js/application.js")