.row
    .col-xs-12.panel-body
        .headline.withH2
            h2
                |Reach Us
        ul.list-unstyled
            li 591 McCray Street, Ste 201, Hollister, CA 95023
            li
                a( href="mailto:tricountyspeech@sbcglobal.net")
                    |tricountyspeech@sbcglobal.net
            li
                a( href="http://www.facebook.com/TriCountiesSpeechServicesInc" target="_blank")
                    |facebook.com/TriCountiesSpeechServicesInc
            li
                |Office: 831.630.9044
            li
                |Jovita: 831.297.2190
            li
                |Lorena: 831.524.0337
    .col-xs-12.col-sm-6.col-md-12.panel-body
        .headline.withH2
            h2
                |Business Hours
        ul.list-unstyled
            li
                strong
                    |Monday-Friday:&nbsp;
                |7:30am to 5pm
            li
                strong
                    |Saturday:&nbsp;
                |By Appointment Only
            li
                strong
                    |Sunday:&nbsp;
                |Closed
    .col-xs-12.col-sm-6.col-md-12.panel-body
        .headline.withH2
            h2
                |Careers

        p
            |We are currently accepting resumes!
        div
            a( href="/careers") More Information